@model PORTAL2023.Models.Divida

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja remover essa dívida?</h3>
<div>
    <h4>Divida</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmNegociação)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmNegociação)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despesa.Conta)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-outline-info">Voltar</a> |
        <input type="submit" value="Apagar" class="btn btn-outline-danger" />
    </form>
</div>

