@model IEnumerable<Portal_financeiro2023.Models.Divida>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerenciar dívidas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar dívida</a> |
    <a class="btn btn-info" href="@Url.Action("Index", "Despesas")">Lista de depesas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmNegociação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Despesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmNegociação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Despesa.Conta)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
