@model IEnumerable<PORTAL.Models.Despesa>

@{
    ViewData["Title"] = "Index";
}

<h1>Controle de despesas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Inserir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mês)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mês)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
