@model Portal_financeiro2023.Models.Despesa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Despesa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituição)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descrição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descrição)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a> |
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a>
</div>
